body {
	font-family: sans-serif;
	margin: 0;
}

.pantheist-main {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.pantheist-body {
	display: table-row;
}
.pantheist-body .sidebar {
	display: table-cell;
	width: 20%;
}
.pantheist-body .main-panel-holder {
	display: table-cell;
	width: 80%;
}

.header {
	display: block;
	width: 100%;
	background: #006;
	color: white;
	padding: 0 4pt;
}

.header a {
	color: #88f;
}
.header a.active {
	color: black;
	background: #fe6;
}
.header a.quietly-active {
	color: white;
	text-decoration: none;
}

.sidebar a {
	color: #88f;
}
.sidebar a.active {
	color: black;
	background: #fe6;
}

.sidebar {
	background: #006;
	color: white;
	padding: 4pt;
	overflow: auto;
	margin-right: 4pt;
}

.main-panel {
	background: white;
	color: black;
	padding: 4pt;
}


.documentation {
	background: white;
}
.documentation .define-path {
	font-family: monospace;
	font-weight: bold;
	background: #cfc;
	padding: 0pt 4pt;
}
.documentation .define-path .param {
	color: #00f;
}
.documentation .verb {
	font-family: monospace;
	background: #fce;
	padding: 0pt 4pt;
}
.documentation .path {
	font-family: monospace;
	background: #ccc;
}
.documentation pre {
	background: #eef;
	padding: 4pt;
}

